html,
body {
  font-family: sans-serif;
  background-color: black;
  color: white;
}

.recipe-container {
  width: 80%;
  margin: auto;
  margin-top: 5rem;
}

.screenshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
